[Unit]
Description=DeltaChat Loginbot

[Service]
Type=simple
WorkingDirectory=%h/loginbot
ExecStart=%h/loginbot/loginbot 
Restart=always

[Install]
WantedBy=default.target
